<!DOCTYPE html>
<html>
	<head>
		<title>IrisMailler</title>

		<link href="~/Content/less/bootstrap.less" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1>Welcome to IrisMailler</h1>
		<p>
			Some presentation text
		</p>
		<a href="~/App" class="btn btn-large">App</a>
	</body>
</html>